*.o
*.a
*.bin
*.swp
*.rq
*.gcno
graph.dat
war_and_peace.txt
peace_and_war.txt
encode
decode
benchmark
benchmark_core
t/00util/matgen
t/00util/repgen
t/00util/hdpcgen
t/00util/precond
t/00util/ult
t/00util/schedgen
t/00util/test_utils
t/00util/bounds
examples/carousel
.DS_Store
t/interop_test_dir
tsnc/examples/blockchain_gossip
tsnc/examples/tsnc_multipath
tsnc/examples/tsnc_sync
